@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (max-width:662px) {
   body {
    font-size: 70%;
   }
   div.left {
     width: 50%;
     padding: 0;
   }
   .logo {
     transform: scale(0.5, 0.7);
    }
    div.photo1 {
     display: flex;
    }
   .photo12 {
     height: 80%;
     width: 100%;
    }
    div.center {
      display: none;
    }
    div.right {
      width: 50%;
      padding: 0;
    }
   .r-content {
     flex-direction: column-reverse;
     justify-content: flex-end;
   }
   .menu {
     height: 15%;
    }
   div.info {
      padding: 0;
      padding-top: 10px;
   }
   .buttons {
     flex-direction: column;
     justify-content: space-between;
    }
   .buttons .white {
      padding: 0;
    }
   .buttons .blue {
     padding: 0;
     margin-right: 20px;
     margin-bottom: 5px;
    }
  }
@media screen and (min-width:663px) and (max-width:992px) {
   body {
     font-size: 80%; 
   }
   div.left {
      width: 25%;
      padding: 0;
   }
   div.center {
      width: 40%;
   }
   div.purple {
      height: 20%;
   }
   div.photo {
      width: 100%;
   }
   div.right {
      width: 35%;
      padding: 0;
      padding-left: 15px;
   }
   div.info {
     padding: 0px 10px;
     padding-bottom: 180px;
   }
   .menu {
      height: 15%;
   }
   .r-content {
      flex-direction: column-reverse;
      justify-content: space-between;
   }
   .buttons {
      flex-direction: column;
   }
   .buttons .blue {
      margin-bottom: 5px;
   }
  }
@media screen and (min-width:993px) and (max-width:1300px) {
   div.left {
      width: 25%;
      padding: 20px;
   }
   div.center {
      width: 35%;
   }
   div.right {
      width: 40%;
      padding: 0;
      padding-left: 15px;
   }
   div.r-content {
      flex-direction: column-reverse;
      justify-content: space-around;
      height: 90%;
      padding-top: 20px;
      padding-bottom: 230px;
   }
   div.info {
      padding: 0px 10px;
   }
 }


*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.container{
   width: 100vw;
   height: 100vh;
   display: flex;
}
.left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    color: white;
    background-color: #4c00f7;
    height: 100%;
    width: 25%;
    padding: 50px;
}
.logo {
    height: 110px;
    width: 200px;
}
.photo1 {
    height: auto;
    display: none;
    width: 100%;
}
.down {
    font-size: 110%;
}
.down h4 {
    margin-bottom: 2px;
    }
.down p {
    margin: 0px;
}
.flex {
    display: flex;
}
.flex i {
    padding-right: 33px;
}
.center {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.purple {
    height: 5%;
    width: 200px;
    background-color: #4c00f7;
}
.photo {
    height: 90%;
    background-image: url(4p.jpg);
    background-size:cover;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.55);
}
.right {
    width: 45%;
    height: 100%;
    padding: 19px 100px;
    padding-left: 0;
}
.r-content {
    display: flex;
    height: 100%;
}
.menu i{
    font-size: 45px;
    padding-top: 30px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 120px 35px 60px;
}
.info h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}
.info h1 span {
    color: #4f1ff7;
}
.info h4 {
    font-weight: normal;
    font-size: 110%;
    margin-top: 0;
}
.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
  .blue {
    background-color: #4c00f7;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .white {
    color: black;
    border: 3px solid black;
    text-transform: uppercase;
    background-color: white;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 30px;
    padding: 20px 40px;
  }
